<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <assert assertuienabled="false" />
  </system.diagnostics>
  <appSettings>
    <add key="-p TCP Port" value="11211" />
    <add key="-m max memory (MB)" value="64" />
    <add key="-c max connections" value="1024" />
    <add key="-t threads" value="4" />
    <add key="custom options" value="-l 127.0.0.1" />
  </appSettings>
</configuration>