<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- cf. http://nlog-project.org/wiki/Targets -->

    <!-- cf. http://nlog-project.org/wiki/File_target -->
    <target name="filelog" xsi:type="File" fileName="${basedir}/Logs/Traces-${machinename}.log" layout="${date} ${logger}: ${level:uppercase=true} ${message}"
            archiveFileName="${basedir}/Logs/archives/Site-${machinename}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"
            concurrentWrites="true"
            keepFileOpen="true"/>
    <target name="filelog-per-level" xsi:type="File" fileName="${basedir}/Logs/Traces-${shortdate}-${machinename}-${level}.log" layout="${date} ${logger}: ${message}" keepFileOpen="false" />
    <target xsi:type="Trace" name="traces" layout="${level:uppercase=true} ${logger} : ${message}"/>
    <target xsi:type="ColoredConsole" name="console" layout="${logger}: ${message}"/>
    <target xsi:type="EventLog" name="events" layout="${logger}: ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="traces" />
    <logger name="*" minlevel="Debug" writeTo="filelog" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="filelog-per-level" />
    <logger name="*" minlevel="Warn" writeTo="events" log="Application" source="MemcachedService64" />
  </rules>
</nlog>